<div data-role="view" data-title="My Document" data-layout="welcome" data-model="APP.models.document_upload">
    
    <div class="divcenter">
        <img class="logo" src="kendo/styles/images/logo.png" data-align="middle" /><br />
        <p style="text-align:center">DOCUMENTS</p>
         <ul>
           <li>Only .pdf, .jpeg files are accepted having size not more than 2 MB.</li>
			<li>Driver’s license is mandatory for vehicle owners/drivers. (Use Other Documents)</li>

         </ul>
    </div>
    
    <form enctype="multipart/form-data" method="post" action="">
    <div class="divcenter">
     
                <label for="fileToUpload1">ADDRESS PROOF</label><br />
             
                <div style="float:left; max-width:33%">
                <input type="file" required="required" name="filesToUpload1[]" id="filesToUpload1" multiple="multiple" />
        </div>
                 <div class="framediv" style="width:100px;height:100px;overflow:hidden">
                     <output id="files-Info1"></output>
        		</div>
                <div style="float:right; max-width:33%">
                    <input type="submit" value="Upload" />
                </div>
            
        </div>
		<div class="divcenter">	
     
                <label for="fileToUpload2">ID PROOF</label><br />
             
                <div style="float:left; max-width:33%">
                <input type="file" required="required" name="filesToUpload2[]" id="filesToUpload2" multiple="multiple" />
        </div>
                 <div class="framediv" style="width:100px;height:100px;overflow:hidden">
                     <output id="files-Info2"></output>
        		</div>
                <div style="float:right; max-width:33%">
                    <input type="submit" value="Upload" />
                </div>
            
       
	</div>	<div class="divcenter">		
     
                <label for="fileToUpload3">ADDRESS PROOF</label><br />
             
                <div style="float:left; max-width:33%">
                <input type="file" required="required" name="filesToUpload3[]" id="filesToUpload3" multiple="multiple" />
        </div>
                 <div class="framediv" style="width:100px;height:100px;overflow:hidden">
                     <output id="files-Info3"></output>
        		</div>
                <div style="float:right; max-width:33%">
                    <input type="submit" value="Upload" />
                </div>
            
        
	</div>		
    </form>
<script>
        function fileSelect(evt) {
            if (window.File && window.FileReader && window.FileList && window.Blob) {
                var files = evt.target.files;

                var result = '';
                var file;
                for (var i = 0; file = files[i]; i++) {
                    // if the file is not an image, continue
                    if (!file.type.match('image.*')) {
                        continue;
                    }

                    reader = new FileReader();
                    reader.onload = (function (tFile) {
                        return function (evt) {
                            var div = document.createElement('div');
                            div.innerHTML = '<img  style="width:98px;height:98px;" src="' + evt.target.result + '" />';
                            document.getElementById('files-Info1').appendChild(div);
                        };
                    }(file));
                    reader.readAsDataURL(file);
                }
            } else {
                alert('The File APIs are not fully supported in this browser.');
            }
        }

        document.getElementById('filesToUpload1').addEventListener('change', fileSelect, false);
    </script>
 <script>
        function fileSelect(evt) {
            if (window.File && window.FileReader && window.FileList && window.Blob) {
                var files = evt.target.files;

                var result = '';
                var file;
                for (var i = 0; file = files[i]; i++) {
                    // if the file is not an image, continue
                    if (!file.type.match('image.*')) {
                        continue;
                    }

                    reader = new FileReader();
                    reader.onload = (function (tFile) {
                        return function (evt) {
                            var div = document.createElement('div');
                            div.innerHTML = '<img  style="width:98px;height:98px;" src="' + evt.target.result + '" />';
                            document.getElementById('files-Info2').appendChild(div);
                        };
                    }(file));
                    reader.readAsDataURL(file);
                }
            } else {
                alert('The File APIs are not fully supported in this browser.');
            }
        }

        document.getElementById('filesToUpload2').addEventListener('change', fileSelect, false);
    </script>
<script>
        function fileSelect(evt) {
            if (window.File && window.FileReader && window.FileList && window.Blob) {
                var files = evt.target.files;

                var result = '';
                var file;
                for (var i = 0; file = files[i]; i++) {
                    // if the file is not an image, continue
                    if (!file.type.match('image.*')) {
                        continue;
                    }

                    reader = new FileReader();
                    reader.onload = (function (tFile) {
                        return function (evt) {
                            var div = document.createElement('div');
                            div.innerHTML = '<img  style="width:98px;height:98px;" src="' + evt.target.result + '" />';
                            document.getElementById('files-Info3').appendChild(div);
                        };
                    }(file));
                    reader.readAsDataURL(file);
                }
            } else {
                alert('The File APIs are not fully supported in this browser.');
            }
        }

        document.getElementById('filesToUpload3').addEventListener('change', fileSelect, false);
    </script>
</div>