<div data-role="view" data-title="Home" data-layout="welcome" style="background-color:#ffffff" data-model="APP.models.home">
  
    
    <div class="divcenter">
        
            <img class="logo" src="kendo/styles/images/logo.png" data-align="middle"  />

        
        <div class="divcenter" style="text-align:center;margin-top:10%">
            <label class="plaintext"> " It's not just<span style="color:#ED8323"> Car Pooling</span>, It's a<span style="color:#ED8323"> Change</span> "</label>
        </div>
        <div class="divcenter" style="margin-top:15%">

            <div class="divcenter" style="width:50%;height:auto;float:left">
                <div class="largebutton" style="float:left;">
                    <a class="buttonlable" data-role="button" href="views/login.html">
                        <img src="kendo/styles/images/login.jpg" data-align="middle" style="margin-top:10%" />
                    </a>
                </div>
                <a class="buttonlable" style="color:#ED8323;margin-left:0%;width:50%"  data-role="button" href="views/login.html">LOGIN</a>


            </div>


            <div class="divcenter" style="width:50%;height:auto; float:right">
                <div class="largebutton" style="float:right;margin-right:15%;">
                    <a class="buttonlable" data-role="button" href="views/register.html">
                        <img src="kendo/styles/images/Register.jpg" data-align="middle" style="margin-top:10%" />
                    </a>

                </div>
                <a class="buttonlable" style="color:#ED8323;margin-left:0%" data-role="button" href="views/register.html">REGISTER</a>

            </div>



   </div>
        <div class="divcenter" style="text-align:center;margin-top:38%">
            <p class="plaintext">
                A Venture By<br />
                Astute<span style="color:#ED8323">
                    Innovation
                </span> Services<br />
                Pvt. Ltd.


            </p>
        </div>
    </div>
</div>