<div data-role="view" data-title="Settings" data-layout="welcome" data-model="APP.models.settings">
    <div class="divcenter">
        <img class="logo" src="kendo/styles/images/logo.png" data-align="middle" /><br />
        <p style="text-align:center">LOGIN</p>
    </div>
        <div class="divcenter" style="margin-top:20%">
            <div style="height:50px">
                <img class="icon" src="kendo/styles/images/emailicon.jpg" style="float:left" alt="" />
                <input id="email" class="css-input" required="required" style="float:right;margin-top:2%" placeholder="Enter your Email" />
            </div>
            <br />
            <div style="height:50px">
                <img class="icon" src="kendo/styles/images/pwdicon.jpg" style="float:left" alt="" />
                <input id="password" class="css-input" required="required" style="margin-top:2%; float:right" placeholder="Password" /><br />

            </div>
            <div style="margin-top:10%">
                <input type="checkbox" id="remeberme" name="remember" autocomplete="on" checked="checked" role="checkbox" />
                <label>Remember Me</label>
            </div>
            <div style="margin-top:30%">
                <input type="button" class="loginpagebutton"  value="" style="background-image:url('kendo/styles/images/exit.jpg');float:left" />
                <input type="button" class="loginpagebutton" value="" style="background-image:url('kendo/styles/images/next.jpg');float:right;margin-right:10%" />
            </div>
        </div>




    </div>