<div data-role="view" data-title="My info" data-layout="welcome" data-model="APP.models.profile_info">
    <div class="divcenter">
        <img class="logo" src="kendo/styles/images/logo.png" data-align="middle" /><br />
        <p style="text-align:center">CONTACT INFO</p>
    </div>
    
   
    <form enctype="multipart/form-data" method="post" action="">
        
    <div class="divcenter">
             <p style="text-align:center">Current Address</p>
            <div style="height:20px">                
                <input id="add1" name="current_add1" class="textinput" required="required" style=" float:right;margin-top:2%" placeholder="Flat/House/Plot No." /><br />
            </div>
    		
            <div style="height:20px">                
                <input id="name"name="current_add2" class="textinput" required="required" style=" float:right;margin-top:2%" placeholder="Street/Society/Village" /><br />
            </div>
            
            <br />
            <div id="locationField" style="height:20px">
      			<input id="autocomplete1" name="current_local" class="textinput" placeholder="Enter your address" style=" float:right;margin-top:2%" onFocus="geolocate()" type="text"></input><br /><br />
   			</div>

    <div id="address">
      
	       <div style="height:20px">
               <input class="field" name="current_city" id="locality" required="required" style="width:47%;float:right;margin-top:2%" placeholder="City" disabled="true"></input>
   		 		<input class="field" name="current_state" required="required" style="width:46%;float:right;margin-top:2%"placeholder="State" id="administrative_area_level_1" disabled="true"></input>
           </div>
      	  
      	  <div style="height:20px">
               <input class="field" name="current_pin"required="required" style=" float:right;margin-top:2%"id="postal_code" placeholder="Pin"  disabled="true"></input>
		 </div>
      	  <div style="height:20px">
               <input class="field" name="current_count" required="required" style=" float:right;margin-top:2%"placeholder="Country" id="country" disabled="true"></input>
		  </div><script>
function FillBilling(f) {
  if(f.billingtoo.checked == true) {
    f.permanent_add1.value = f.current_add1.value;
    f.permanent_add2.value = f.current_add2.value;
    f.permanent_local.value = f.current_local.value;
    f.permanent_city.value = f.current_city.value;
    f.permanent_state.value = f.current_state.value;
    f.permanent_pin.value = f.current_pin.value;
    f.permanent_count.value = f.current_count.value;
  }
    if(f.billingtoo.checked == false) {
    f.permanent_add1.value = "";
    f.permanent_add2.value = "";
    f.permanent_local.value = "";
    f.permanent_city.value = "";
    f.permanent_state.value = "";
    f.permanent_pin.value = "";
    f.permanent_count.value = "";
  }
}
</script>

	<div style="height:20px">
               
        <input type="checkbox" id="remeberme" name="billingtoo" onclick="FillBilling(this.form)" style=" float:left;margin-top:2%" role="checkbox" />
                <label>Permanent Address Same As Current Address</label>
		  </div>
      	  
	</div>



<div class="divcenter" style="margin-top:10%">
              <p style="text-align:center">Permanent Address</p>
            <div style="height:20px">                
                <input id="add1" name="permanent_add1" class="textinput" required="required" style=" float:right;margin-top:2%" placeholder="Flat/House/Plot No." /><br />
            </div>
    		
            <div style="height:20px">                
                <input id="name"name="permanent_add2" class="textinput" required="required" style=" float:right;margin-top:2%" placeholder="Street/Society/Village" /><br />
            </div>
            
            <br />
            <div id="locationField" style="height:20px">
      			<input id="autocomplete2" name="permanent_local" class="textinput" placeholder="Enter your address" style=" float:right;margin-top:2%" onFocus="geolocate()" type="text"></input><br /><br />
   			</div>

    <div id="address">
      
	       <div style="height:20px">
               
   		 		<input class="field" name="permanent_state" required="required" style="width:46%;float:right;margin-top:2%"placeholder="State" id="administrative_area_level_12" disabled="true"></input>
          		<input class="field" name="permanent_city" id="locality2" required="required" style="width:47%;float:right;margin-top:2%" placeholder="City" disabled="true"></input>
			</div>
      	  
      	  <div style="height:20px">
               <input class="field" name="permanent_pin"required="required" style=" float:right;margin-top:2%"id="postal_code2" placeholder="Pin"  disabled="true"></input>
		 </div>
      	  <div style="height:20px">
               <input class="field" name="permanent_count" required="required" style=" float:right;margin-top:2%"placeholder="Country" id="country2" disabled="true"></input>
		  </div>
			<div style="height:20px">                
                <input id="Emg_Contact" name="Emg_Name" class="textinput" required="required" style=" float:right;margin-top:2%" placeholder="Emergency Contact Person's Good Name" /><br />
            </div>
			<div style="height:20px">                
                <input id="Emg_Contact_No" name="Emg_Num" class="textinput" required="required" style=" float:right;margin-top:2%" placeholder="Emergency Contact Mobile No." /><br />
            </div>

</ br>


</div>
            <div class="loginpagebutton" style="float:left;">
                <a data-role="button" href="views/login.html">
                    <img src="kendo/styles/images/exit.jpg" data-align="middle"  />
                </a>
            </div>
            <div class="loginpagebutton" style="float:right;margin-right:15%;">
                <a data-role="button" href="views/document_upload.html">
                    <img src="kendo/styles/images/Registericon.jpg" data-align="middle"/>
                </a>

            </div>
        

    
        </form>


 <script>
// This example displays an address form, using the autocomplete feature
// of the Google Places API to help users fill in the information.

var placeSearch, autocomplete;
var componentForm = {
  locality: 'long_name',
  administrative_area_level_1: 'short_name',
  country: 'long_name',
  postal_code: 'short_name'
};

function initAutocomplete() {
  // Create the autocomplete object, restricting the search to geographical
  // location types.
  autocomplete = new google.maps.places.Autocomplete(
      /** @type {!HTMLInputElement} */(document.getElementById('autocomplete1')),
      {types: ['geocode']});

  // When the user selects an address from the dropdown, populate the address
  // fields in the form.
  autocomplete.addListener('place_changed', fillInAddress);
}

// [START region_fillform]
function fillInAddress() {
  // Get the place details from the autocomplete object.
  var place = autocomplete.getPlace();

  for (var component in componentForm) {
    document.getElementById(component).value = '';
    document.getElementById(component).disabled = false;
  }

  // Get each component of the address from the place details
  // and fill the corresponding field on the form.
  for (var i = 0; i < place.address_components.length; i++) {
    var addressType = place.address_components[i].types[0];
    if (componentForm[addressType]) {
      var val = place.address_components[i][componentForm[addressType]];
      document.getElementById(addressType).value = val;
    }
  }
}
// [END region_fillform]

// [START region_geolocation]
// Bias the autocomplete object to the user's geographical location,
// as supplied by the browser's 'navigator.geolocation' object.
function geolocate() {
  if (navigator.geolocation) {
    navigator.geolocation.getCurrentPosition(function(position) {
      var geolocation = {
        lat: position.coords.latitude,
        lng: position.coords.longitude
      };
      var circle = new google.maps.Circle({
        center: geolocation,
        radius: position.coords.accuracy
      });
      autocomplete.setBounds(circle.getBounds());
    });
  }
}
// [END region_geolocation]
      </script>
    <script src="https://maps.googleapis.com/maps/api/js?signed_in=true&libraries=places&callback=initAutocomplete"
        async defer></script>

    </script>
 <script>
// This example displays an address form, using the autocomplete feature
// of the Google Places API to help users fill in the information.

var placeSearch2, autocomplete2;
var componentForm2 = {
  locality2: 'long_name',
  administrative_area_level_12: 'short_name',
  country2: 'long_name',
  postal_code2: 'short_name'
};

function initAutocomplete2() {
  // Create the autocomplete object, restricting the search to geographical
  // location types.
  autocomplete2 = new google.maps.places.Autocomplete(
      /** @type {!HTMLInputElement} */(document.getElementById('autocomplete2')),
      {types: ['geocode']});

  // When the user selects an address from the dropdown, populate the address
  // fields in the form.
  autocomplete2.addListener('place_changed', fillInAddress2);
}

// [START region_fillform]
function fillInAddress2() {
  // Get the place details from the autocomplete object.
  var place2 = autocomplete2.getPlace();

  for (var component in componentForm2) {
    document.getElementById(component).value = '';
    document.getElementById(component).disabled = false;
  }

  // Get each component of the address from the place details
  // and fill the corresponding field on the form.
  for (var i = 0; i < place2.address_components.length; i++) {
    var addressType2 = place2.address_components[i].types[0];
    if (componentForm2[addressType]) {
      var val2 = place2.address_components[i][componentForm2[addressType2]];
      document.getElementById(addressType2).value = val2;
    }
  }
}
// [END region_fillform]

// [START region_geolocation]
// Bias the autocomplete object to the user's geographical location,
// as supplied by the browser's 'navigator.geolocation' object.
function geolocate() {
  if (navigator.geolocation) {
    navigator.geolocation.getCurrentPosition(function(position) {
      var geolocation = {
        lat: position.coords.latitude,
        lng: position.coords.longitude
      };
      var circle = new google.maps.Circle({
        center: geolocation,
        radius: position.coords.accuracy
      });
      autocomplete2.setBounds(circle.getBounds());
    });
  }
}
// [END region_geolocation]

    </script>
    <script src="https://maps.googleapis.com/maps/api/js?signed_in=true&libraries=places&callback=initAutocomplete2"
        async defer></script>
    

</div>
