<div data-role="view" data-title="Settings" data-layout="welcome" data-model="APP.models.settings">

    <div class="divcenter">
        
        <img class="logo" src="kendo/styles/images/logo.png" data-align="middle" /><br />

        
        <h2 style="text-align:center">Register</h2>
    </div>
    <div class="divcenter">
        <form id="registration-form" name="registration-form">
            <div style="height:50px">
                <img class="icon" src="kendo/styles/images/username.jpg" style="float:left" alt="" />
                <input id="name" class="css-input" required="required" style=" float:right;margin-top:2%" placeholder="Enter your Name" maxlength="30"/><br />
            </div>
            <br />
            <div style="height:50px">
                <img class="icon" src="kendo/styles/images/emailicon.jpg" style="float:left" alt="" />
                <input type="email"	name="email" id="email" class="css-input" required="required" style=" float:right;margin-top:2%" placeholder="Enter your Email"	/>
            </div>
            <br />
            <div style="height:50px">
                <img class="icon" src="kendo/styles/images/pwdicon.jpg" style="float:left" alt="" />
                <input type="password"	id="password" name="password"	class="css-input" required="required" style="margin-top:2%; float:right" placeholder="Password" /><br />

            </div>
            <br />
            <div style="height:50px">
                <img class="icon" src="kendo/styles/images/pwdicon.jpg" style="float:left" alt="" />
                <input type="password"	id="conf_password" name="conf_password" class="css-input" required="required" style="float:right;margin-top:2%" placeholder="Confirm Password" />
            </div>
        
        <br /><br />
            <div class="loginpagebutton" style="float:left;">
                <a data-role="button" href="views/login.html">
                    <img src="kendo/styles/images/exit.jpg" data-align="middle" style="margin-top:10%" />
                </a>
            </div>
            <div class="loginpagebutton" style="float:right;margin-right:15%;">
                <a data-role="button" href="views/register_profile.html">
                    <img src="kendo/styles/images/Registericon.jpg" data-align="middle" style="margin-top:10%" />
                </a>

            </div>
        </form>
         <script>
 
      $(document).ready(function(){

          $("#registration-form").kendoValidator({
              rules: {
                  verifyPasswords: function(input){
                     var ret = true;
                             if (input.is("[name=conf_password]")) {
                                 ret = input.val() === $("#password").val();
                             }
                             return ret;
                  }
              },
              messages: {
                  verifyPasswords: "Passwords do not match!"
              }
          });
      });
 
    </script>

    </div>

</div>